<h1>Welcome to Foodville</h1>

<a href="/restaurants/new">Add a restaurant</a>

<h2>Your restaurants:</h2>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="/restaurants/<%= restaurant.id %>"> <%= restaurant.name %></a>
    </li>
  <% end %>
</ul>
