<h1>Enter the restaurant info</h1>

<form action="/restaurants" method="POST">
  <label for="name">Name</label>
  <input name="name" type="text">
  <label for="city">City</label>
  <input name="city" type="text">
  <input type="submit">
</form>


<a href="/restaurants">Back to restaurants</a>
